# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# root
.DS_Store
.env
node_modules/
dist/

# backend
backend/target/

# frontend
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
